*{
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 150px;
   
}

#error{
    color: black;
}

input{
    padding: 10px;
    margin-bottom: 10px;
    width: 270px;
    font-size: 20px;
}

form{
    border: 2px solid blueviolet;
    padding: 20px;
    border-radius: 10px;
}

button{
    font-size: 20px;
    margin-left: 90px;
    color: black;
    background: blueviolet;
}

